<template>
  <div class="dashboard-editor-container">
    <h1>你现在是edito权限</h1>
    <h6>---------头部-------------</h6>
    <div slot="head-tabel">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="index" width="55" />
        <el-table-column label="日期" width="120">
          <template slot-scope="scope">{{ scope.row.date }}</template>
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120" />
        <el-table-column prop="address" label="地址" show-overflow-tooltip />
      </el-table>
    </div>
    <h6>---------中间-------------</h6>
    <div slot="body-form">
      <el-form :model="formdata">
        <el-form-item label="日期">
          <el-input v-model="formdata.input" />
        </el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="formdata.name" />
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="formdata.adress" />
        </el-form-item>
      </el-form>
    </div>

    <div slot="body-buttom">
      <el-button type="primary">提交</el-button>
    </div>

    <h6>---------下面-------------</h6>
    <div slot="footer-tabel">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="日期" width="120">
          <template slot-scope="scope">{{ scope.row.date }}</template>
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120" />
        <el-table-column prop="address" label="地址" show-overflow-tooltip />
      </el-table>
    </div>
  </div>
</template>

<script>
import heads from '../HomeWork/components/head.vue'
import bodys from '../HomeWork/components/body.vue'
import footers from '../HomeWork/components/footer.vue'
export default {
  name: 'DashboardEditor',
  components: {
    heads,
    bodys,
    footers
  },
  data() {
    return {
      formdata: {
        input: ''
      },
      tableData: [
        {
          date: '2016-05-08',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-06',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-07',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ],
      multipleSelection: []
    }
  },
  computed: {},
  methods: {
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  min-height: 100vh;
  padding: 50px 60px 0px;
}
</style>
