<template>
  <div class="dashboard-editor-container">
    <h1>你现在是admin权限</h1>

    <h6>---------头部-------------</h6>
    <div slot="head-input">
      <el-input v-model="inputdata" placeholder="搜索" />
    </div>

    <div slot="head-tabel">
      <el-table
        ref="multipleTable"
        :data="tableData"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="日期" width="120">
          <template slot-scope="scope">{{ scope.row.date }}</template>
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120" />
        <el-table-column prop="address" label="地址" show-overflow-tooltip />
      </el-table>
    </div>

    <h6>---------中间-------------</h6>
    <div slot="body-form">
      <el-form :model="formData">
        <el-form-item label="日期">
          <el-input v-model="formData.date" />
        </el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="formData.name" />
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="formData.adress" />
        </el-form-item>
      </el-form>
    </div>

    <div slot="body-button">
      <el-button type="primary">提交</el-button>
      <el-button type="danger">取消</el-button>
    </div>

    <h6>---------下面-------------</h6>
    <div slot="footer-tabel">
      <el-table
        ref="multipleTable"
        :data="tableData1"
        tooltip-effect="dark"
        style="width: 100%"
        @selection-change="handleSelectionChange"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column label="日期" width="120">
          <template slot-scope="scope">{{ scope.row.date }}</template>
        </el-table-column>
        <el-table-column prop="name" label="姓名" width="120" />
        <el-table-column prop="address" label="地址" show-overflow-tooltip />
      </el-table>
    </div>
  </div>
</template>

<script>
import bodys from '../HomeWork/components/body.vue'
import heads from '../HomeWork/components/head.vue'
import footers from '../HomeWork/components/footer.vue'
import { getFooterData } from '@/api/footer'

export default {
  name: 'DashboardAdmin',
  components: {
    bodys,
    heads,
    footers,
    getFooterData
  },
  data() {
    return {
      formData: {
        name: '',
        date: '',
        adress: ''
      },
      inputdata: '',
      tableData: [
        {
          date: '2016-05-08',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-08',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        },
        {
          date: '2016-05-08',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }
      ],
      multipleSelection: [],
      tableData1: []
    }
  },
  mounted: function() {
    const tableData1 = this
    getFooterData().then((res) => {
      if (res.status === 20000) {
        tableData1.push(res.data)
      }
    })
  },
  methods: {
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row)
        })
      } else {
        this.$refs.multipleTable.clearSelection()
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    }

  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  position: relative;
}

@media (max-width: 1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
